* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
}

.picture {
  max-width: 500px;
  border-radius: 20px;
}

.container {
  margin-top: 20px;
  text-align: center;
}